/* h3{
    color: orange;
}
p{
    background-color: black;
    color: azure;
}
button{
    background-color: blue;
    color:azure
} */

h1{
    color: #ffffff;
    background-color: black; 
    text-align: start;
    font-weight: bold;
}