.container{
    height: 50px;
    width: 900px;
    background-color: palevioletred;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}
.option{
    height: 50px;
    width: 90px;
    font-size: 24px;
    border-radius: 10px;
    margin-left: 10px;
    line-height: 50px;
}