#container{
    height: 400px;
    width: 70%;
    background-color: azure;
    margin: 10px auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* flex-wrap: wrap; */
    align-content: center;
}

h1{
    text-align: center;
}

.v{
    background-color: blueviolet;
    color: white;
    text-align: center;
    height: 400px;
    width: 400px;
}
.i{
    background-color: indigo;
    color: white;
    text-align: center;
    height: 400px;
    width: 400px;
}
.b{
    background-color: blue;
    color: white;
    text-align: center;
    height: 400px;
    width: 400px;
}
.g{
    background-color: green;
    color: white;
    text-align: center;
    height: 400px;
    width: 400px;
}
.y{
    background-color: yellow;
    color: white;
    text-align: center;
    height: 400px;
    width: 400px;
}
.o{
    background-color: orange;
    color: white;
    text-align: center;
    height: 400px;
    width: 400px;
}
.r{
    background-color: red;
    color: white;
    text-align: center;
    height: 400px;
    width: 400px;
}