p{
    color:#fff;
    text-align: center;
    color:red;
    line-height: 30px;
}

h4{
    text-align: center;
    color:red;
}

h3{
    text-align: center;
    color: black;
}
h1{
    text-align: center;
    color: red;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    color:green;
    text-decoration: none;
}